
 .header{
     margin-right:110px;
     margin-left: 80px;
     padding-bottom: 30px;
     display: inline-block;
     
  }
  .fix{
   position: fixed;
   margin-left: 650px;
   z-index: 1;
   
  }
 a{
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-family: serif;
    font-size: 24px;
    color: #2d2769;
    outline: none;
    float: right;
    text-decoration: none;
 }
 
 a:hover{
     color:white;
     background-color: #2d2769;
     border-radius: 5px;
 }
 header button a{
   text-decoration: none;
 }
 .site-logo{
    width: 20%;
    margin-left: 50px;
    float: left;;
 }

 
 .Home{
     width: 80%;
     height: 630px;
     border: 2px solid black;
     margin-left: 10%;
     margin-right: 10%;
     background-color: white;
     overflow: hidden;
     position: relative;
  }
.Home img{
    width: 100%;
    height: 100%;
 }
 .About{
    width: 80%;
    height: 650px;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;

 }

 .Programs{
    width: 80%;
    height: 650px;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #eeeeee;

 }

 .Locations{
    width: 80%;
    height: 650px;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
 }
 .grop div{
     margin-top: 20px;
 }
.Department{
   text-align: center;
    font-size: 36px;
    color: #fff!important;
    padding: 30px 0!important;
    margin: 0!important;
    background-color:#2d2769 ;
}